body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #4d4983;
}

.links {
  margin-top: 1rem;
  color: #4d4983;
  text-decoration: none;
}

.error {
  background: rgba(255, 0, 0, 0.5);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.9rem 1rem;
  border-radius: 15px;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-bottom: 1rem;
  border: 1px solid rgba(255, 0, 0, 0.5);
}

.input__error {
  color: red;
  margin-left: 7px;
  margin-top: -5px;
  font-weight: normal;
  font-size: 16px;
}

.disabled {
  background: red !important;
}

.divider {
  position: relative;
  width: 2000px;
  left: -200px;
  height: 1px;
  background: #4d4983;
  margin: 1rem 0 0.5rem 0;
}

.loader__container {
  margin: auto;
  height: 50px;
  width: 50px;
  margin-top: 250px;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller .dark__spinner:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #4d4983;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.messages::-webkit-scrollbar {
  height: 6px;
  width: 2px;
}

.messages::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb {
  background: #423f71;
  border-radius: 10px;
}
